/* This file css for label and input */

.input-disabled {
  background-color: rgb(216, 248, 216);
  color: rgb(107, 105, 105);
  cursor: not-allowed;
}

/* Primary input */
.primary-input {
  height: 32px;
  margin: 3px 2px;
  padding: 6px;

  border: solid 1px #bbb;
  border-radius: 5px;
  border-width: 1px;
  border-color: #bbb;

  /* color: #000; */

  font-size: 12px;

  outline: none;
}

.primary-input:focus {
  border-color: var(--default-color);
}

::placeholder {
  color: #bbb;

  font-size: 12px;
}

/* Icon input------------------------------ */
.icon-input {
  width: 280px;
  padding-left: 40px;
  border-radius: 4px;

  background: var(--icon-url);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 16px center;
}

/* Label-------------------------------*/
.top-label {
  display: block;
}

.compulsory-label::after {
  content: " *";
  color: red;
}

/* Select--------------------------------- */

.horizontal-select-group > input {
  margin-right: 4px;
}
.horizontal-select-group > label {
  margin-right: 15px;
}

.wrong-input {
  border: 1px solid red;
}

.tool-tip-container {
  position: relative;
}

.wrong-notif-tooltip {
  /* visibility: hidden; */
  /* display: none; */

  position: absolute;
  right: 0;
  bottom: -1;
  z-index: 100;

  display: block;
  min-width: 100px;
  padding: 3px 5px;
  border-radius: 4px;

  background-color: #4f4f4f;
  color: #fff;

  font-size: 12px;
  text-align: center;
}

/* checkbox----------------------------- */
.custom-checkbox-container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 18px;
  height: 18px;

  cursor: pointer;
}

.custom-checkbox-checkmark {
  width: 18px;
  height: 18px;

  border-radius: 2px;
  border: solid 1px gray;

  cursor: pointer;
  transition: all 0.2s ease;
  transform: rotate(-90deg);
}
.custom-checkbox-checkmark::after {
  content: "";

  position: absolute;
  left: 5px;
  top: 1px;

  display: none;
  width: 4px;
  height: 9px;
  border: solid green;
  border-width: 0 2px 2px 0;

  transform: rotate(45deg);
}

.input-check-item,
.input-check-all {
  width: 0;
  cursor: pointer;
}

.input-check-item:checked + .custom-checkbox-checkmark,
.input-check-all:checked + .custom-checkbox-checkmark {
  border: 1px solid #2ca01c;
  transform: rotate(0deg);
}
.input-check-item:checked + .custom-checkbox-checkmark::after,
.input-check-all:checked + .custom-checkbox-checkmark::after {
  display: block;
}

/* custom radio -------------------------------- */
.custom-radio-container {
  position: relative;

  cursor: pointer;
}

.custom-radio-input {
}

.custom-radio-checkmark {
  position: absolute;
  top: 0;
  left: 2px;

  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-radio-checkmark > span {
  display: none;
  width: 10px;
  height: 10px;

  padding: 0;
  margin: 0;

  background-color: green;
  border-radius: 50%;
}

.custom-radio-input:checked + .custom-radio-checkmark {
  border: 1px solid green;
}

.custom-radio-input:checked + .custom-radio-checkmark > span {
  display: block;
}

.custom-radio-input {
  width: 0;
  margin-right: 20px;
}
