/* normal data table */
#data-table-container {
  height: 390px;
  max-width: 100%;
  width: 950px;
  overflow: auto;
}

.data-table .data-row .fixed-column-container,
.data-table .header-table .fixed-column-container {
  position: sticky;
  right: 0;

  border-left: dotted 1px gray;
}

.table-footer {
  /* position: sticky;
  bottom: 0;
  left: 0;
  right: 0; */

  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background-color: white;
}

.header-table {
  position: sticky;
  top: 0;
  z-index: 2;
}

.data-table {
  --table-row-color: #e5e8ec;
  --table-row-hover: #f2f4f6;

  width: 100%;
  border-collapse: separate;
  border-spacing: 0px;
  padding: 0;
}

.data-table tbody {
  position: relative;
}

/* #employees-data-table {
  width: 960px;
} */

/* table row--------------------- */
.data-table tr,
.data-table td,
.data-table th {
  height: 42px;
}
/* table column------------------ */
.data-table td,
.data-table th {
  padding: 0 10px;
  border: 1px #c7c7c7;
  border-style: solid solid solid none;
  min-width: 120px;
  max-width: 200px;
}

/* table header------------------- */

.data-table .header-table {
  height: 32px;

  background-color: var(--table-row-color);

  font-size: 10px;
  text-align: left;
}

/* table data rows--------------- */
.data-table .data-row td {
  cursor: pointer;
  border-style: none dotted solid none;

  /* background-color: gray; */
}

.data-table .data-row:hover,
.data-table .data-row:hover .action-column,
.data-table .data-row:hover .checkbox-column {
  background-color: var(--table-row-hover);
}

/* Specific column---------------- */
.data-table td.fullname-column,
.data-table th.fullname-column,
.data-table .address-column {
  min-width: 200px;
}
.data-table .position-column {
  min-width: 100px;
}

.data-table .checkbox-column {
  position: sticky;
  left: 0;

  justify-content: center;
  align-items: center;

  padding: 0 4px;
  min-width: 42px;

  background-color: white;
  text-align: center;
}
.data-table .checkbox-column label.custom-checkbox-container {
  position: absolute;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.data-table .action-column {
  /* position: sticky; */
  right: 0;
  border: 1px solid #ddd;

  background-color: white;
  text-align: center;
}

.data-table th.action-column,
.data-table th.checkbox-column {
  background-color: var(--table-row-color);
}

.data-table .sex-column {
  min-width: 70px;

  text-align: center;
}

.data-table .dob-column {
  width: 82px;
  text-align: center;
}

.data-row:hover > .action-column button {
  background-color: var(--table-row-hover);
}

/* scroll bar----------------------- */
#data-table-container::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

#data-table-container::-webkit-scrollbar-thumb {
  background: #b8bcc3;
}
#data-table-container::-webkit-scrollbar-track {
  background: #fff;
}
